In [116]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

path = "C:/Users/cesar.noronha/Desktop/data_science_alura/curso5_cerveja/"
dados_beer_Raw = pd.read_csv("{}Consumo_cerveja.csv".format(path), sep = ';')#, index_col = 0)

In [117]:
dados_beer_Raw

           data  temp_media  temp_min  temp_max  chuva  fds  consumo
0    01/01/2015       27.30      23.9      32.5    0.0    0    25461
1    02/01/2015       27.02      24.5      33.5    0.0    0    28972
2    03/01/2015       24.82      22.4      29.9    0.0    1    30814
3    04/01/2015       23.98      21.5      28.6    1.2    1    29799
4    05/01/2015       23.82      21.0      28.3    0.0    0    28900
..          ...         ...       ...       ...    ...  ...      ...
360  27/12/2015       24.00      21.1      28.2   13.6    1    32307
361  28/12/2015       22.64      21.1      26.7    0.0    0    26095
362  29/12/2015       21.68      20.3      24.1   10.3    0    22309
363  30/12/2015       21.38      19.3      22.4    6.3    0    20467
364  31/12/2015       24.76      20.2      29.0    0.0    0    22446

[365 rows x 7 columns]

In [125]:
len(dados_beer_Raw)

365

In [126]:
dados_beer1 = dados_beer_Raw[['temp_max', 'chuva', 'fds','consumo']]
len(dados_beer1)

365

In [127]:
tamanho_reduzido = int(len(dados_beer1) - 50)
tamanho_reduzido

315

In [128]:
dados_treino = dados_beer1.iloc[0:tamanho_reduzido, :]
dados_treino

     temp_max  chuva  fds  consumo
0        32.5    0.0    0    25461
1        33.5    0.0    0    28972
2        29.9    0.0    1    30814
3        28.6    1.2    1    29799
4        28.3    0.0    0    28900
..        ...    ...  ...      ...
310      20.0    1.2    1    24330
311      23.9    0.6    1    28610
312      29.5    4.4    0    28456
313      31.8   10.4    0    27964
314      32.7    0.0    0    29569

[315 rows x 4 columns]

In [129]:
dados_update = dados_beer1.iloc[tamanho_reduzido:tamanho_reduzido + 50, :]
dados_update

     temp_max  chuva  fds  consumo
315      31.8    0.0    0    29267
316      29.6    0.0    0    28647
317      30.4   16.4    1    26836
318      29.7    8.0    1    29386
319      24.9    0.0    0    24609
320      29.7    0.0    0    26964
321      30.5   14.1    0    23614
322      30.4    0.0    0    22960
323      27.0    6.8    0    20332
324      24.4    7.2    1    30392
325      28.8    0.0    1    31933
326      23.6   13.6    0    21662
327      22.6    7.0    0    21689
328      24.8    0.4    0    25119
329      27.4    0.0    0    25285
330      28.4    0.0    0    28979
331      29.8    0.0    1    34382
332      26.0   17.4    1    30617
333      23.3   23.4    0    20238
334      25.8    0.0    0    24529
335      29.4    0.0    0    30471
336      26.1    0.0    0    28405
337      29.1    0.0    0    29513
338      30.6    0.1    1    32451
339      28.0    0.1    1    32780
340      23.9   47.8    0    23375
341      28.0    0.0    0    27713
342      27.9    0.0    0    27137
343      27.7    0.0    0    22933
344      30.3    0.0    0    30740
345      30.8    0.0    1    29579
346      31.0   12.2    1    29188
347      32.5    2.0    0    28131
348      32.8    4.0    0    28617
349      24.8    1.5    0    21062
350      28.7    0.0    0    24337
351      33.5    0.1    0    27042
352      31.3    1.3    1    32536
353      29.0    8.4    1    30127
354      29.1   27.2    0    24834
355      32.4   43.0    0    26828
356      32.4    3.0    0    26468
357      31.5    3.4    0    31572
358      31.0   39.0    0    26308
359      29.8   94.8    1    21955
360      28.2   13.6    1    32307
361      26.7    0.0    0    26095
362      24.1   10.3    0    22309
363      22.4    6.3    0    20467
364      29.0    0.0    0    22446

In [130]:
dados_treino.to_csv('beer_data_train',index=False)
dados_update.to_csv('beer_data_update',index=False)

In [131]:
beer_data_to_train = pd.read_csv("beer_data_train", sep = ',')
beer_data_update = pd.read_csv("beer_data_update", sep = ',')